<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="React">
    <meta name="apple-mobile-web-app-title" content="React">
    <meta name="theme-color" content="#0080FF">
    <meta name="msapplication-navbutton-color" content="#0080FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="icon" type="image/png" sizes="512x512" href="512.png">-->
    <!--<link rel="apple-touch-icon" type="image/png" sizes="512x512" href="512.png">-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCI2zt3yh9MX_Nh4oF5qB5lL2s9r-YvSVY&libraries=places"></script>

    <% if (process.env.NODE_ENV === "production"){ %>
    <link rel="stylesheet" href="styles.css" />
    <% } %>

    <% if (process.env.NODE_ENV !== "production"){ %>
    <!--<script src="mock.js"></script>-->
    <script>
      window.userId = '00528000002Se3bAAC';
      window.jobId = 'a0EO000000IbiLKMAZ'.substr(0, 15);
    </script>
    <% } %>

</head>
<body>
<noscript>
    <a href="http://enable-javascript.com/">Javascript must me enabled to use this site.</a>
</noscript>
<react></react>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>

</body>
</html>
