// Fixed colors
$color_grey_dark:                   #787878;
$color_grey_light:                  #c9cacc;
$color_grey:                        #bbb;
$color_blue:                        #349de3;
$color-blue-light:                  #74b1d4;
$color_green:                       #19cf5e;
$color_red:                         #df4040;
$color_orange:                      #faa928;
$color_yellow:                      #FFDE00;
$color_purple:                      #620c5f;
$color_magenta:                     #944292;
$color_orchid:                      #bc8ebe;
$color_amethyst:                    #8562a7;

$color-disabled:                    #ddd;

// Statuses colors to reflect whatever is in 
// assets/javascripts/helpers/Metadata.coffee
$queued:                            $color_grey_light;
$pending_allocation:                $color_grey;
$pending_dispatch:                  $color_orange;
$dispatched:                        $color-blue-light;
$ready:                             $color_blue;
$en_route:                          $color_orchid;
$on_site:                           $color_magenta;
$in_progress:                       $color_purple;
$complete:                          $color_green;
$cancelled:                         $color_red;

// App basic colors
$inactive_color:                    $color_grey_light;
$dark_color:                        #24333c;
$activity_color:                    $color_amethyst;

$form_element_border_color:         #dcdcdc;

// Toggle Menu
$toggle-menu-height:44px;

// Base
// -------------------------------

$font-family-sans-serif:            "Helvetica Neue", "Roboto", sans-serif !default;
$font-family-base:                  $font-family-sans-serif !default;

$base-color:                        #000 !default;

$link-color:                        $color_blue !default;

// Feed
$feed-background:                   #fcfcfc;